<span class="absolute right-2 top-2 flex gap-2 bg-gray-700 text-gray-300 text-xs rounded-full px-2 py-1">
  <%= button_to '+', add_to_cart_path(sneaker), method: :post, class: 'font-bold' %>
  <span><%= @cart.sneaker_count(sneaker) %></span>
  <%= button_to '-', remove_from_cart_path(sneaker), method: :delete, class: 'font-bold' %>
</span>